<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.keep.root.dao.InfoDao">

  <resultMap type="Info" id="InfoMap">
    <id column="info_no"  property="no"/>
    <result column="create_date"    property="createdDate"/>
    <result column="category" property="category"/>
    <result column="title"       property="title"/>
    <result column="content"  property="content"/>
    <result column="main_photo"    property="mainPhoto"/>
  </resultMap>

  <select id="findAll" resultMap="InfoMap">
    select 
    info_no,
    create_date,
    category,
    title,
    content,
    main_photo
    from 
      infos
  </select>

  
  <select id="findByNo" resultMap="InfoMap" parameterType="int">
    select 
    info_no,
    create_date,
    category,
    title,
    content,
    main_photo
    from 
     infos
    where 
      info_no=#{no}
  </select>
  
 

  
</mapper>







